<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Login Page</title>
    </head>
    <body>
        <h1>Login page</h1>
        <p>Trying to login to Shopify using either a form or a button</p>
        <form action="/shopify" method="GET">
            <input type="text" name="shop" id="">
            <input type="submit" value="Submit">
        </form>
        <!-- <form action="/" method="GET">
            <input type="email" name="email">
            <input type="password" name="password">
            <button type="submit">Login</button>
        </form> -->
        <br>
        <a href="">Click here to access the Inventory</a>
    </body>
</html>